<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Escher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="PDFPrinter" value="PDF995" />
    <add key="DocumentsFolder" value="C:\Users\Pep\Escher Documents" />
    <add key="SamplesFolder" value="C:\Users\Pep\Escher Samples" />
    <add key="DesignsFolder" value="C:\Users\Pep\Google Drive\Escher\Designs" />
    <add key="DesignsRollbackFolder" value="C:\Users\Pep\Google Drive\Escher\Designs\Rollback" />
    <add key="ImagesFolder" value="C:\Users\Pep\Google Drive\Escher\Images" />
    <add key="PageFormats" value="C:\Users\Pep\Google Drive\Escher\PageFormats.Csv" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Escher.Properties.Settings>
      <setting name="MainState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="MainLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Paper" serializeAs="String">
        <value>A4</value>
      </setting>
      <setting name="IncludeMarginForPunchHoles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeNumber" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeValueAndColor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FrameStyle" serializeAs="String">
        <value>Thick</value>
      </setting>
      <setting name="ColorStyle" serializeAs="String">
        <value>Color</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>Small</value>
      </setting>
      <setting name="IncludeBorder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeTitle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Catalog" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="AppendCatalog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeSamplePagesOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeHtmlScans" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludePdfBookmarks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RealLifePageScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EditorState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="EditorLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="EditorSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </Escher.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>