<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="ImagesFolder" value="C:\Users\PeterPaulHek\EscherC#\Images" />
      <add key="DesignsFolder" value="C:\Users\PeterPaulHek\EscherC#\Designs" />
      <add key="DesignsRollbackFolder" value="C:\Users\PeterPaulHek\EscherC#\Designs\Rollback" />
      <add key="PageFormats" value="C:\Users\PeterPaulHek\EscherC#\PageFormats.Csv" />
    </appSettings>
</configuration>